/* Styles for common elements */
body{
  background-color: #FDFDFD;
  overflow-x: hidden;
  position: relative;
  /*padding-top: 60px;*/
}

/* style for background/text in jumbotron" */
.jumbotron {
  color: white;
  text-align: center;

  background-image: url('../images/mountain-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

.navbar{
  background-color: #EBF6F9;

  font-size: 20px;
}

.bs-footer{
  border-top: 1px solid;
  margin-top:10px;
  border-top-color: #F0F0F0;
}

/*.bs-footer {
  position: absolute;
  width: 100%;

  color: white;
  text-align: center;

  background-image: url('../images/mountain-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
*/


/*Styles for transparent List items */
.li-transparent{
  display: table;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
@media only screen and (min-width: 768px) {
  .li-transparent{
    display: inline;
  }
}

/* Styles for transparent buttons */
.btn-transparent{
  background-color: #F6F6F6;
  border-color: #FFFFFF;
  color: #FFFFFF;
  background-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
  margin-top:10px;
  font-size:20px;
}
.btn-transparent:hover   {
  color: #FFFFFF;
  background-color: rgba(255,255,255,0.25);
}

.btn-transparent:link {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.btn-transparent:visited {
  color: #FFFFFF;
  border-color: #FFFFFF;
}


/* Styles for page wide buttons */
.btn-default{
  background-color: #F6F6F6;
  margin-top:10px;
  width: 100%;
  font-size:20px;
}

/* Styles for tiny buttons */
.btn-primary{
  background-color: black;
  color: white;
  font-size:20px;
}

/* Styles for feature descriptions of projects */
.feature-description{
  background-color: #F6F6F6;
  padding-top: 10px;
  margin-bottom: 10px;
}

/* Styles for panels of projects*/
.project-panel{
  margin-top:  10px;
	border-top: 1px solid;
  border-top-color: #F0F0F0;
}

/* Styles for header of panels of projects*/
.project-header {
  float: left;
}

/* Styles for language icons */
.devicons{
  float: right;
  margin-left: 10px;
}
